.sidebar {
    align-items: flex-start;
    padding-top: 100px;
}

.sidebar__categories {
    margin-right: auto;
}

.sidebar__category {
    font-size: 15px;
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    transition: color .5s;
}

.sidebar__category:hover {
    color: #473011;
}

.sidebar__category ~ .sidebar__category {
    margin-top: 15px;
}